body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#game-container {
  text-align: center;
}

#board {

}

.cell {

}

.snake {

}

.fruit {

}

#reset-button {

}